@media (max-width: 991px) {
    .promo {
        padding-left: 5%;
        padding-right: 5%;
        // background-position:
        &__title {
            font-size: 38px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__icons {
            width: 380px;
        }
    }
    .header {
        &__logo {
            width: 210px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .advantages {
        &__item {
            margin: 0 10px;
        }
    }
    .consultation {
        padding-left: 5%;
        padding-right: 5%;
        .title {
            font-size: 32px;
        }
    }
    .carousel {
        padding: 45px 0;
        &__inner {
            max-width: 100%;
        }
    }
    .catalog {
        &__content {
            justify-content: center;
        }
        &-item {
            margin: 10px 10px;
        }
        .title {
            font-size: 28px;
        }
    }
    .feed {
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .promo {
        &__wrapper {
            margin-top: 45px;
        }
        &__title {
            font-size: 34px;
        }
        &__subtitle {
            font-size: 18px;
        }
    }
    .advantages {
        &__items {
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            margin-bottom: 30px;
        }
    }
    .consultation {
        min-height: 580px;
        padding: 60px 5% 70px 5%;
        .title {
            font-size: 24px;
            line-height: 44px;
        }
        &__descr {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .catalog {
        padding: 15px 0 25px 0;
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            font-size: 16px;
            width: 160px;
            height: 40px;
            line-height: 36px;
        }
        &__content {
            justify-content: center;
            margin-top: 30px;
        }
        .title {
            font-size: 26px;
        }
    }
    .feed {
        .title {
            font-size: 26px;
        }
        &__item {
            margin-top: 40px;
        }
        &__image {
            width: 129px;
            height: 129px;
            margin-right: 40px;
        }
        &__count {
            font-size: 13px;
        }
        &__descr {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 150px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            button {
                width: 120px;
                font-size: 10px;
            }
        }
        &__phone {
            font-size: 12px;
        }
    }
    .promo {
        padding-bottom: 40px;
        &__wrapper {
            margin-top: 35px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 25px;
        }
        &__icon {
            margin-bottom: 20px;
        }
        &__title {
            font-size: 24px;
            margin-bottom: 0;
        }
        &__subtitle {
            font-size: 13px;
        }
        .button_main {
            width: 250px;
            font-size: 14px;
            margin: 25px auto 0 auto;    
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantages {
        padding: 50px 0 30px 0;
        .title {
            font-size: 22px;
        }
        &__items {
            margin-top: 25px;
        }
        &__item-title {
            margin-top: 10px;
        }
    }
    .consultation {
        min-height: 480px;
        padding: 40px 5% 50px 5%;
        .title {
            font-size: 20px;
            line-height: 36px;
        }
        &__descr {
            font-size: 14px;
            line-height: 22px;
        }
        .feed-form {
            width: 290px;
            margin-top: 25px;
        }
    }
    .carousel {
        padding: 30px 0;
    }
    .catalog {
        padding: 15px 0 25px 0;
        &__tabs {
            margin-top: 20px;
        }
        &__tab {
            font-size: 11px;
            width: 105px;
            height: 35px;
            line-height: 32px;
        }
        &__content {
            justify-content: center;
            margin-top: 25px;
        }
        .title {
            font-size: 22px;
        }
    }
    .feed {
        .title {
            font-size: 22px;
        }
        &__item {
            margin-top: 30px;
        }
        &__image {
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 12px;
        }
        &__count {
            font-size: 13px;
        }
        &__descr {
            font-size: 13px;
            line-height: 20px;
        }
    }
}

@media (max-width: 374px) {
    .carousel {
        padding: 20px 0;
    }
    .catalog {
        &__tabs {
            margin-top: 15px;
        }
        &__tab {
            font-size: 9px;
            width: 85px;
            height: 30px;
            line-height: 26px;
        }
        &__content {
            justify-content: center;
            margin-top: 25px;
        }
        &-item {
            margin: 5px 5px;
        }
        .title {
            font-size: 20px;
        }
    }
}